In [1]:
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
#*   expression
#'hello'  value
#-87.8 value
#- expression
#/ expression
#+ expression
#6 value

In [2]:
import areallyourpetsnamederic

ModuleNotFoundError: No module named 'areallyourpetsnamederic'

In [53]:
#Mutability means changeable or which can be changed
#String methods - Concatenation
k = "kezia" 
k[0].upper()

'K'

In [5]:
"F" + k[1:]

'Fezia'

In [36]:
k = "F" + k[1:] +" "+ "Mweresa"

In [37]:
k.upper()
k.lower()
k.title()
k.capitalize()
#"*"join(k)

'Fggeziamweresa mweresa'

In [31]:
k.replace("F","ggg")

'gggezia'

In [23]:
k.replace("z","y")

'gggeyia'

In [24]:
k = k.replace("F","ggg")
k.count("g")

3

In [11]:
bacon

22

In [12]:
type(bacon)

int

In [13]:
bacon + 1

23

In [14]:
bacon = 22 
bacon + 1

23

In [15]:
bacon

22

In [16]:
'spam' + 'spamspam'

'spamspamspam'

In [17]:
'spam' * 3

'spamspamspam'

In [19]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'

In [49]:
name = "Kezia_Gwasima_Mweresa"
firstname,middlename,lastname = name.split("_")

In [46]:
firstname

'Kezia344'

In [43]:
firstname.islower()

False

In [44]:
firstname.isspace() # is there space

False

In [50]:
firstname.isalnum()# is it alpha or numeric

True

In [48]:
firstname.isdigit()# is there digit

False

In [56]:
y = 5.0
print(y.isdecimal())

AttributeError: 'float' object has no attribute 'isdecimal'

In [1]:
s = input().split(" ")
a = input()

if a in s:
    print ("Yes")
    print(s.count(a))
else:
    print("No")

Mama kezia has a daughter called kezia
kezia
Yes
2

In [84]:
# elif

raining =  bool(int(input("Is it raining:[True - 1/False - 0] ")))
Netflix_paid = bool(int(input("Has Netflix subscription been paid:[True - 1/False - 0] ")))
Elec_on = bool(int(input("Is there electricity:[True - 1/False - 0] ")))

if raining and Netflix_paid:
    print("We should go sleep can not watch movie when raining")
elif Elec_on and Netflix_paid:
    print("We can watch a movie")
elif Elec_on and raining:
    print("The rain is noisy, we go to sleep")
else:
    print("Lets just talk to each other")

Is it raining:[True - 1/False - 0] 0
Has Netflix subscription been paid:[True - 1/False - 0] 1
Is there electricity:[True - 1/False - 0] 1
We can watch a movie

In [29]:
no_kids = [1,2,3,4,5,6,7]
cut_off = 3
year = 0

while no_kids[year] <= cut_off:
    print(f"year {year}")
    print(f"Number of children is {no_kids[year]}: cut_off: {cut_off}")
    print("This number is okay")
    year = year + 1
    print("------")
else:
    print("Weeehh economy is bad, no more kids for me")

year 0
Number of children is 1: cut_off: 3
This number is okay
------
year 1
Number of children is 2: cut_off: 3
This number is okay
------
year 2
Number of children is 3: cut_off: 3
This number is okay
------
Weeehh economy is bad, no more kids for me

In [65]:
for k in range(1,20):
    if k % 2 == 0:
        continue
    print(k)

1
3
5
7
9
11
13
15
17
19

In [55]:
children = ["Nathan", "Joy", "Ella", "Latifah","Taji"]
for name in children:
    if name == "Ella":
     break
    print(name)

Nathan
Joy

In [64]:
8%2==0

True

In [73]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for n in numbers:
    if n == max(numbers):
      print(f"{n} is the largest number.")

525 is the largest number.

In [74]:
for e in range(1,12):
    if e % 2 == 0:
        print(e)

2
4
6
8
10

In [78]:
n = int(input("Enter number: "))
sum = 0
for n in range(n,n+1):
    sum = n + (n+1)
    if sum == 55:
        break

Enter number: 1

In [79]:
a = 7
b = 8

a,b = b,a

print(a)
print(b)

8
7

In [82]:
for k in "kezia":
    print(k)

k
e
z
i
a

In [84]:
l = [5,"k",2+7j,8.0,"why",9]
for i in l:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'str'>
<class 'int'>

In [29]:
l = [2,45,78,12,"sudh", 2+8j, [3,5,7,9]]
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

2
45
78
12
3
5
7
9

In [5]:
for i in "kezia":
    print(i)

k
e
z
i
a

In [12]:
# Method 1
l = [2,45,78,12,"sudh", 2+8j, [3,5,7,9]]
for i in range(len(l)):
    print(f"index of {i} for element {l[i]}")

index of 0 for element 2
index of 1 for element 45
index of 2 for element 78
index of 3 for element 12
index of 4 for element sudh
index of 5 for element (2+8j)
index of 6 for element [3, 5, 7, 9]

In [46]:
print(l)
range(7)

[2, 45, 78, 12, 'sudh', 'kezia', (2+8j), [3, 5, 7, 9]]

range(0, 7)

In [13]:
#Method 2
#enumarate function is a tuple 
l = [2,45,78,12,"sudh", 2+8j, [3,5,7,9]]
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'sudh')
(5, (2+8j))
(6, [3, 5, 7, 9])

In [14]:
#Method 2.1
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 sudh
5 (2+8j)
6 [3, 5, 7, 9]

In [43]:
# Find a char which is string and make a list of the char.
l = [2,45,78,12,"sudh","kezia", 2+8j, [3,5,7,9]]
l1 = []
for i in l:
    if type(i) == str:
        for j in i:
            l1.append(j)
       
l1

['s', 'u', 'd', 'h', 'k', 'e', 'z', 'i', 'a']

In [59]:
l = [2,45,78,12,"sudh","kezia", 2+8j, [3,5,7,9]]
l1 = []
for i in l:
    if type(i) == str:
        l1.append(i)
    if type(i) == list:
        for j in i:
            l1.append(j)
l1

['sudh', 'kezia', 3, 5, 7, 9]

In [73]:
a = [1,2,3,4]
for i in a:
    if i != 4:
        print(i)

1
2
3

In [74]:
for i in "kmwersa":
    if i == "m":
        break
     
else:
    print("go home")

In [78]:
a=2
while a<10:
    print(a)
    if a ==7:
        break
    a = a+1

2
3
4
5
6
7

In [79]:
while a < 6:
    pass

In [81]:
while a < 4:
    break

In [83]:
a = 1
while a < 4:
    continue

KeyboardInterrupt:

In [88]:
for i in range(0,20):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************

In [96]:
list(range(3,10,1))

[3, 4, 5, 6, 7, 8, 9]

In [94]:
list(range(3,10,4))

[3, 7]

In [95]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [97]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [98]:
range(9)

range(0, 9)

In [99]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [106]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("Kezia", end = "")
    print("\r")

Kezia
KeziaKezia
KeziaKeziaKezia
KeziaKeziaKeziaKezia
KeziaKeziaKeziaKeziaKezia

In [3]:
n = 5
for i in range(0,n):
    print("kezia")
    for j in range(0,i+1):
        print("Avedi",end = "")

kezia
Avedikezia
AvediAvedikezia
AvediAvediAvedikezia
AvediAvediAvediAvedikezia
AvediAvediAvediAvediAvedi

In [4]:
n = 5
for i in range(0,n):
    print("kezia")

kezia
kezia
kezia
kezia
kezia

In [5]:
for j in range(0,i+1):
        print("Avedi",end = "")

AvediAvediAvediAvediAvedi

In [16]:
y = [3,8,9,34,6,78,9,10]
for i in y:
    i= i+1
    if i>5:
        print(i)

9
10
35
7
79
10
11

In [21]:
y = (3,8,9,34,6,78,9,10)
y[::-1]

(10, 9, 78, 6, 34, 9, 8, 3)

In [36]:
list(range(len(y)-1,-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [39]:
y =(3,8,9,34,6,78,9,10) 
for i in range(len(y)-1,-1,-1):
    print(y[i])

10
9
78
6
34
9
8
3

In [42]:
#dictionary a,b,c,d are keys with values inside

d = {"a": "KEZIA" , "b" : [1,5,8,2], "c" : (45,25.2,8,9,10), "d":"herbert"}
for i in d:
    print (i, d[i])

a KEZIA
b [1, 5, 8, 2]
c (45, 25.2, 8, 9, 10)
d herbert

In [43]:
d.items()

dict_items([('a', 'KEZIA'), ('b', [1, 5, 8, 2]), ('c', (45, 25.2, 8, 9, 10)), ('d', 'herbert')])

In [45]:
for i in d.items():
    print(i)

('a', 'KEZIA')
('b', [1, 5, 8, 2])
('c', (45, 25.2, 8, 9, 10))
('d', 'herbert')

In [47]:
#set it selects the unique values and sorts them in ascending order

s = {"k","e","z","u","i","o","e","w","u","g","o","g"}

In [48]:
s

{'e', 'g', 'i', 'k', 'o', 'u', 'w', 'z'}

In [49]:
f = {4,56,88,966,1412,777,25,4,56,88,666,125,88}

In [50]:
f

{4, 25, 56, 88, 125, 666, 777, 966, 1412}

In [51]:
for i in f:
    print(i)

1412
4
966
777
56
25
666
88
125

In [52]:
# produces un ordered set
for i in s:
    print (i)

w
u
k
o
g
i
e
z

In [77]:
for i in range(8):
    print(i)
    if i == 4:
        break

0
1
2
3
4

In [75]:
range(8)

range(0, 8)